:root {
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
  --main-color: #212121;
  --accent-color: #2196f3;
  --second-color: #ffffff;
  --text-color: #757575;
}

body,
button,
a {
  font-family: Roboto, sans-serif;
  font-style: normal;
  color: var(--text-color);
  font-size: 14px;
  line-height: 1.7em;
  letter-spacing: 0.03em;
}

section {
  margin-bottom: 94px;
}
p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
ul {
  margin: 0;
  padding-left: 0;
}
address {
  font-style: normal;
}

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  outline: 3px solid cornflowerblue;
}

.herro-title {
  color: var(--second-color);
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36em;
  text-shadow: 0 0 5px #27262690;
  margin-top: 0;
  margin-bottom: 30px;
  outline: 3px solid cornflowerblue;
}

.image-hero {
  margin-left: auto;
  margin-right: auto;
}

.nav {
  color: var(--main-color);
  list-style: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.02em;
  font-style: normal;
}

.link {
  color: var(--text-color);
}

.nav:hover,
.nav:focus {
  color: var(--accent-color);
}

.name {
  font-style: Roboto;
  font-size: 16px;
  line-height: 1.35em;
  color: var(--main-color);
  font-weight: 500;
  padding-top: 30px;
  padding-bottom: 10px;
  margin-top: 0;
  margin-bottom: 0;
  border-radius: 2px;
  text-align: center;
}

.logo {
  color: black;
  list-style: none;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19em;
  letter-spacing: 0.03em;
}

.accent {
  color: var(--accent-color);
}

.knock {
  color: var(--second-color);
  background-color: var(--accent-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87em;
  letter-spacing: 0.06em;
  display: inline-block;
  padding: 10px 32px;
  border-radius: 4px;
  border: 1px solid transparent;
  min-width: 200px;
}

.subclass {
  color: var(--main-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.33em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 50px;
  text-align: center;
}

.title {
  font-size: 14px;
  font-size: 36px;
}

.white {
  color: var(--second-color);
  text-shadow: 0 0 3px #2f303a;
}
.wh {
  color: var(--second-color);
}

footer {
  background-color: #2f303a;
}

.info {
  display: inline-flex;
  padding: 0;
  margin-bottom: 0;
  /* outline: 3px solid cornflowerblue; */
  text-align: center;
}
.opacity {
  display: none;
}
.cursor {
  line-height: 1.62em;
  border: none;
  font-style: normal;
  font-family: Roboto;
  padding: 6px 22px;
  min-width: 73px;
  border-radius: 4px;
}

.cursor:hover,
.cursor:focus {
  background-color: var(--accent-color);
  color: var(--second-color);
}
.icon {
  font-size: 18px;
  line-height: 2em;
  letter-spacing: 0.06em;
  color: var(--main-color);
  padding-top: 20px;
  padding-left: 24px;
  padding-bottom: 4px;
  margin: 0;
}
.direction {
  font-size: 16px;
  line-height: 1.18em;
  padding-bottom: 16px;
  text-align: center;
}
.contact {
  color: rgba(255, 255, 255, 0.6);
}
.hero {
  text-align: center;
  margin-bottom: 94px;
}

.developed {
  text-align: center;
}

.grey {
  background-color: #f5f4fa;
}
.btn {
  padding-top: 45px;
  padding-bottom: 8px;
}
.for-image {
  width: 1170px;
  height: 600px;
  display: inline-block;
  text-align: center;
  opacity: 80%;
}
.social {
  margin-bottom: 24px;
}
.icon-nav {
  padding-left: 24px;
  padding-bottom: 20px;
}
.portfolio-btn {
  display: inline-flex;
}

.link-nav {
  display: flex;
  margin-left: 85px;
}

.hed:not(:last-child) {
  margin-right: 40px;
}

.addres:not(:last-child) {
  margin-right: 30px;
}

.menu {
  display: flex;
  align-items: center;
  height: 80px;
}

.link-nav-size {
  display: flex;
  margin-left: auto;
}

.grey-fon {
  display: flex;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}
